.ZoneAdversaires{
    width: 100%;
    height: 20vh;
    background-color: rgb(95, 8, 69);
    border: 2px solid rgb(255, 182, 72);
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 1rem;
}