.CardContainer {
    width: 6.5vw;
    height: 14.5vh;

    /*Transition*/
    position: relative;
    z-index: 1;
    perspective: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.CardContainer img{
    position: relative;
}

.CardContainer p{
    position: absolute;
    font-size: 2em;
    top: 1em;
    
}

.CardBody {
    width: 100%;
    height: 100%;

    /*Transition*/
    transform-style: preserve-3d;
    transition: all .7s linear;
}

.CardFront {
    font-size: 2rem;
    text-transform: uppercase;

    /*Transition*/
    transform: rotateY(180deg);
}

.CardSide {
    position: absolute;

    border-radius: 15px;
    top: 0;
    width: 100%;
    height: 100%;

    color: white;

    background-color: black;
    backface-visibility: hidden;
}

.CardContainer.Active .CardBody {
    /* Transition Active */
    transform: rotateY(180deg);
}

.CardContainer.Active .CardBody .CardBack {
    /* Transition Active */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
}

.CardBack {
    background-image: url("card-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ImageStyle{
    height: 14.5vh;
    width: 6.5vw;
}