.App {
  text-align: center;
  height: 100vh;
  
  
}







.PlateauDeJeu {
  width: 100%;
  height: 100vh;
  
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: stretch;
}

.CarteAGagner{
  background-color: antiquewhite;
  width: 30vw;
  height: 20vh;
}

.CurrentPlayedCard{
  background-color: aquamarine;
  width: 50vw;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FakeBoard{
  width: 70%;
  height: 20vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrentPlayedCard button{
  width: 20%;
  height: 15vh;
}


.NombreJ{
  height: 5vh;
  width: 100%;
  color: darkorange;
  background-color: darkslateblue;
}


.testCurrent{
  color: wheat;
}